<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <title>Sign-In</title>
    </head>   
    <body class="container">
        <header>
            <%- include('./partials/header'); %>
        </header>
        <main>
            <div class="container mt-4">
                <div class="border col-xl-5 col-md-8">
                    <h3 class="px-5 mt-3">Sign-In</h3>
                    <form action="/users/login" method="POST" class=" bg-white rounded shadow-5-strong p-5">
                        <div class="form-outline mb-4">
                            <input type="email" id="email" name="email" placeholder="Email" required class="form-control" autofocus/>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
                        </div>
                        <div class="row mb-4">
                            <div class="col text-right">
                                <a href="/users/register">Sign-On</a> | 
                                <a href="/users/forgot">Forgot password?</a>                
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </form>

                    <% if (messages.success_msg) { %>
                        <div >
                            <ul class="list-group">
                                <li class="list-group-item ist-group-item-success""><%= messages.success_msg %></li>
                            </ul>
                        </div>
                        <% } %>
                        <% if (messages.error) { %>
                        <div >
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-danger"><%= messages.error %></li>
                            </ul>
                        </div>
                        <% } %>
                </div>
            </div>          
        </main>    
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </body>
</html>
